<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athena's HW3 Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/submit">Submit</a> |
        <a href="/view">View</a>
    </nav>
    <header>
        <h1>My Flask App</h1>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
